---
layout: base.njk
---

<article class="prose flow">
  {{ content | safe }}
</article>

<section class="post-grid">
  <h2>Ostatnie wpisy</h2>

  <article class="post-card stack elevated">
    <img src="/img/post-alchemy.jpg" alt="" loading="lazy">
    <div class="stack post-card__content">
      <div class="post-card__meta">
        <time datetime="2026-02-20">20.02.26</time>
        <span class="pill">Alchemia</span>
      </div>
      <h3 class="post-card__title">Transmutacja CSS</h3>
      <p>Odkrywanie głębi layoutu poprzez pryzmat CUBE CSS i alchemii.</p>
      <a href="#" class="button">Czytaj więcej</a>
    </div>
  </article>

    <article class="post-card stack elevated">
    <img src="/img/post-alchemy.jpg" alt="" loading="lazy">
    <div class="stack post-card__content">
      <div class="post-card__meta">
        <time datetime="2026-02-20">20.02.26</time>
        <span class="pill">Alchemia</span>
      </div>
      <h3 class="post-card__title">Transmutacja CSS</h3>
      <p>Odkrywanie głębi layoutu poprzez pryzmat CUBE CSS i alchemii.</p>
      <a href="#" class="button">Czytaj więcej</a>
    </div>
  </article>
  
    <article class="post-card stack elevated">
    <img src="/img/post-alchemy.jpg" alt="" loading="lazy">
    <div class="stack post-card__content">
      <div class="post-card__meta">
        <time datetime="2026-02-20">20.02.26</time>
        <span class="pill">Alchemia</span>
      </div>
      <h3 class="post-card__title">Transmutacja CSS w systematyce hermeneutycznej wg Sędziwoja</h3>
      <p>Odkrywanie głębi layoutu poprzez pryzmat CUBE CSS i alchemii.</p>
      <a href="#" class="button">Czytaj więcej</a>
    </div>
  </article>
    <article class="post-card stack elevated">
    <img src="/img/post-alchemy.jpg" alt="" loading="lazy">
    <div class="stack post-card__content">
      <div class="post-card__meta">
        <time datetime="2026-02-20">20.02.26</time>
        <span class="pill">Alchemia</span>
      </div>
      <h3 class="post-card__title">Transmutacja CSS</h3>
      <p>Odkrywanie głębi layoutu poprzez pryzmat CUBE CSS i alchemii.</p>
      <a href="#" class="button">Czytaj więcej</a>
    </div>
  </article>
</section>