---
layout: base.njk
---

{% include "blocks/hero.njk" %}
{% include "latest.njk" %}

<div class="cluster" style="--cluster-justify: center;">
  <a href="/blog/" class="button" button-variant="typographic">
    Zobacz wszystkie teksty
  </a>
</div>

{% include "blocks/newsletter.njk" %}