{% from "blocks/post-card.njk" import card %}

<section class="container">
<div class="post-grid">
    <div class="post-grid__header">
        <h2>Najnowsze teksty</h2>
        <p>Ostatnie artykuły na blogu. Zobacz też wszystkie kategorie:</p>
        <ul role="list" class="cluster">
        {% for category in collections.categoryList %}
        <li><a href="/temat/{{ category | slugify }}/" class="category-tag">{{ category }}</a></li>
        {% endfor %}
        </ul>
        <a class="button" button-variant="typographic">Zobacz wszystkie</a>
    </div>
{% set postslist = collections.posts | reverse %}
{% for post in postslist.slice(0, 7) %}

{{ card(post) }}

  {% endfor %}
</div>
</section>