---
layout: base.njk
---
{% include "blocks/hero.njk" %}

    <article class="prose flow">
    <aside>
      {% include "blocks/toc.njk" %}
    </aside>
  {{ content | safe }}
    </article>

{% from "blocks/post-card.njk" import card %}
{% set previousPost = collections.posts | getPreviousCollectionItem(page) %}
{% set nextPost = collections.posts | getNextCollectionItem(page) %}

{% include "blocks/prevnext.njk" %}
{% include "blocks/newsletter.njk" %}