<footer class="author-bio elevated">
    <img src="{{ authorPhoto }}" alt="{{ author }}" loading="lazy">
    <div class="stack">
      <h2>{{ author }}</h2>
      <span>{{ authorBio }}</span>
    </div>
  </div>
</footer>