<section class="newsletter elevated with-sidebar">
    <h2 class="newsletter__title">Kwintesencja</h2>
    <div class="not-sidebar">
        <h3>Subskrybuj newsletter</h3>
        <form 
        action="https://buttondown.com/api/emails/embed-subscribe/heliocantharus" 
        method="post" 
        class="newsletter__form stack" 
        referrerpolicy="unsafe-url"
        target="_blank"
        >
        <div class="cluster">
            <div class="stack">
            <label for="email">Twój adres e-mail</label>
            <input type="email" id="email" name="email" placeholder="dave@blackmoor.com" required>
            </div>
            <button type="submit" class="button" button-variant="secondary">Zapisz się</button>
        </div>
        
        <label>
            <input type="checkbox" name="consent" required>
            <span class="text-aside">Wyrażam zgodę na przetwarzanie mojego adresu e-mail w celu regularnej wysyłki wiadomości. Więcej informacji: <a href="/info#polityka-prywatnosci/">Polityka&nbsp;prywatności</a>.</span>
        </label>
        </form>
    </div>
    <div class="sidebar stack">
    <span class="benefit">Dodatkowe materiały i opinie, których nie znajdziesz na blogu.</span>
    <span class="benefit">Maksymalnie dwie wiadomości w miesiącu.</span>
    <span class="benefit">Newsletter w 100% pisany przez człowieka.</span>
    </div>
</section>