<section class="elevated">
    <{{ headingTag }} class="hero__title">{{ title }}</{{ headingTag }}>
    <p class="hero__lead">{{ lead }}</p>
    {% if buttonText %}
    <a href="{{ buttonUrl }}" class="button" button-variant="">{{ buttonText }}</a>
    {% endif %}
</section>